<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.mapper.GroupInfoMapper">

    <resultMap id="adviceGroupList" type="com.education.entity.GroupInfo">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="groupBrief" column="group_brief" jdbcType="VARCHAR" />
        <result property="groupName" column="group_name" jdbcType="VARCHAR"/>
        <result property="groupImg" column="group_img" jdbcType="VARCHAR" />
        <association property="topicInfo" javaType="com.education.entity.TopicInfo">
            <result property="id" column="tid" jdbcType="BIGINT" />
            <result property="topicName" column="topic_name" jdbcType="VARCHAR" />
            <result property="topicBrief" column="topic_brief" jdbcType="VARCHAR" />
            <result property="topicImg" column="topic_img" jdbcType="VARCHAR" />
            <result property="topicContent" column="topic_content" jdbcType="LONGVARCHAR" />
        </association>
    </resultMap>

    <select id="findAdviceGroupList" resultMap="adviceGroupList">
          select
          group_info.id,
          group_info.group_brief,
          group_info.group_name,
          group_info.group_img,
          topic_info.id tid,
          topic_info.topic_name,
          topic_info.topic_brief,
          topic_info.topic_img
          from
          group_info
          inner join topic_info on group_info.id = topic_info.group_id
    </select>

    <select id="findMyGroupList" resultMap="adviceGroupList">
        select
        group_info.id,
        group_info.group_brief,
        group_info.group_name,
        group_info.group_img
        from
        group_info
        inner join stu_group_relation on group_info.id = stu_group_relation.group_id
        inner join student_info on stu_group_relation.student_id = student_info.id
        <where>
            student_info.student_num = #{studentNum}
        </where>
    </select>

    <delete id="deleteMyGroup">
        delete
        stu_group_relation.*
        from
        stu_group_relation
        inner join student_info on stu_group_relation.student_id = student_info.id
        <where>
            student_info.student_num = #{studentNum}
            and stu_group_relation.group_id = #{groupId}
        </where>
    </delete>

</mapper>
